@import "~materialize-css/dist/css/materialize.min.css";

.originalLink {
    max-width: 30vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
